.accordion-item {
    background-color: $color-secondary;
    margin-bottom: 2rem;

    .accordion-button {
        background-color: $color-tertiary;
        border: none;
        font-weight: bold;
        color: $color-primary;
        font-size: 19px;
    }
}
