textarea {
    background-color: var(--bs-primary-bg-subtle) !important;
    border: 2px solid var(--bs-primary) !important;
    color: var(--bs-primary-text-emphasis) !important;
    outline: 0 !important;

    &:focus {
        background-color: var(--bs-primary-bg-subtle) !important;
        color: var(--bs-primary-text-emphasis) !important;
        border-color: var(--bs-primary) !important;
}
}

input {
    background-color: var(--bs-primary-bg-subtle) !important;
    border: 2px solid var(--bs-primary) !important;
    color: var(--bs-primary-text-emphasis) !important;
    outline: 0 !important;

    &:focus {
        background-color: var(--bs-primary-bg-subtle) !important;
        color: var(--bs-primary-text-emphasis) !important;
        border-color: var(--bs-primary) !important;
}
}

select {
    background-color: var(--bs-primary-bg-subtle) !important;
    border: 2px solid var(--bs-primary) !important;
    color: var(--bs-primary-text-emphasis) !important;
    outline: 0 !important;

    &:focus {
        background-color: var(--bs-primary-bg-subtle) !important;
        color: var(--bs-primary-text-emphasis) !important;
        border-color: var(--bs-primary) !important;
}
}

.badge-success, .badge-primary, .badge-secondary, .badge-warning, .badge-info, .badge-danger,
.btn-success, .btn-primary, .btn-secondary, .btn-warning, .btn-info, .btn-danger {
    font-weight: bold;
}

.btn-danger {
    background-color: #ff5956;
    color: var(--bs-primary-text-emphasis);

    &:hover {
        background-color: darken(#ff5956, 5%);
        color: var(--bs-primary-text-emphasis);
    }
}
