
.page-container {
  position: relative;
  background-color: transparent;

  &-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $color-tertiary;
    text-transform: uppercase;
    margin-bottom: 80px;

    &:after {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      display: table;
      width: 40px;
      height: 5px;
      border-radius: 2px;
      background-color: $color-white;
      content: '';
    }

  }

  &-content {
    padding: 0px 40px 80px 40px;
  }

}