@import "root";

/* BASE CSS
 * --------------------------------------- */

body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
}

body ::selection {
    background: var(--bs-primary);
    color: var(--mod-primary-bg);
}

header {
    margin-bottom: 100px;
}


header {
    li {
        list-style: none;
    }
}

h1 {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--bs-primary);
    text-transform: uppercase;
    margin-bottom: 80px;

    &:after {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        display: table;
        width: 40px;
        height: 5px;
        border-radius: 2px;
        background-color: var(--bs-primary-text-emphasis);
        content: '';
    }
}

::-webkit-scrollbar {
    width: 7px; /* for vertical scrollbars */
    height: 7px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: var(--mod-primary-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}

/* ==============================
   Table
=============================== */

.table {
    overflow: auto;
}

table,
.table {
    width: 100%;
    min-width: auto;
    text-align: start;
    margin: 0;
    border-spacing: 0;
    padding: 5px;
    background-color: var(--bs-primary);
    border-collapse: collapse;
    color: $color-white;
    border-radius: 0;
    border: none;
    font-weight: bold;


    thead {
        color: $color-primary;
        text-transform: uppercase;

        th {
            width: 20%;
            padding: 16px;
            text-align: start;
            border-bottom: none !important;
            font-weight: bold;
            color: $color-primary !important;
            background-color: $color-tertiary !important;
        }

    }

    tbody {
        background-color: $color-primary;

        td {
            padding: 10px;
        }

    }

}

.breadcrumb {
    background-color: $color-primary;
}

@import "layout.scss";
@import "input.scss";
@import "home.scss";
@import "shop";
@import "theme";
